airplane* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

#hero {
  position: relative;
}

#hero .c-img {

    position: absolute;
    max-width: 15%;
    max-height: 15%;
    border-radius: 50%;
    top: 65%;
    left: 40%;
    margin: 0;

}

#hero .java-img {

    position: absolute;
    max-width: 25%;
    max-height: 25%;
    top: 60%;
    left: 52.5%;
    margin: 0;

}

#c .airplane-img {

  position: absolute;
  margin: auto;
  max-width: 100%;
}

#other .desktop-img {

  position: absolute;
  margin: auto;
  max-width: 100%;
}

#c .checksum-img {

  position: absolute;
  margin: auto;
  max-width: 100%;
}

#c .lock-img {

  position: absolute;
  margin: auto;
  max-width: 100%;
}

#hero .bg-image {
  /* The image used */
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.40)), url('mountains.jpg');


  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Position text in the middle of the page/image */
.bg-text {

  color: white;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
  padding: 20px;

}

#hero .Cbtn {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

  color: white;
  text-decoration: none;

  border: 3px solid white;
}

#hero .Javabtn {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

  color: white;
  text-decoration: none;

  border: 3px solid white;
}

body {
    margin: 0;

    font-family: 'Muli', sans-serif;
}

main ul * {
  display: inline;
}

main li {
  margin: 20px;
}

main li a {
  color: black;
  text-decoration: none;
}


header {

    display: flex;
    align-items: center;
    height: 40px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-family: 'Muli', sans-serif;


}

header * {
    display: inline;
}



header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

#c p {

  text-align: justify;
}

#c {
    background-color: #d9d9d9;

    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75));
}

#contact .section-inner p {
  text-decoration: none;

}

#java {
    background-color: white;

    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75));
}

#other {
    background-color: #d9d9d9;

    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75));
}

#contact {
    background-color: #d9d9d9;

    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url();
}

body {
  padding-bottom: 20px;
}


/* Mobile Styles */
@media only screen and (min-width: 320px){

  header {
    height: 7vh;
  }

  #header-section li {
    font-size: 1em;
  }

  .profile-img {
    width: 40vw;
  }

  .airplane-img {
    width: 110px;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }

  .desktop-img {
    width: 70px;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
  }

  .checksum-img {
    width: 60px;
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
  }

  .lock-img {
    width: 60px;
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
  }

  #hero h1 {
    font-size: 2em;
  }

  .bg-text {
    top:65%;
  }

  #hero .Cbtn {
    display: inline-block;
    width: 200px;

    padding:0.25em;
    margin-top: 5%;

    font-size: 2em;

  }

  #hero .Javabtn {
    display: inline-block;
    width: 200px;

    padding:0.25em;
    margin-top: 5%;

    font-size: 2em;

  }

  #hero h1 {
    font-size: 2.5em;
  }

  .bg-text {
    top:65%;
  }

  #c {
    position: relative;
  }

  #c h2 {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 1.5em;
    top: 15%;
    margin-bottom: 2.5%;
  }

  #c p {
    position: absolute;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    top: 42%;
    margin-left: 10%;
    margin-right: 10%;

  }

  #c br {
    content: '';
  }

  #java {
    position: relative;
  }

  #other {
    position: relative;
  }

  #java h2 {
    position: absolute;
    font-size: 1.5em;
    margin-bottom: 2.5%;
    left: 0;
    right: 0;
    top: 15%;

  }

  #other h2 {
    position: absolute;
    font-size: 1.5em;
    margin-bottom: 2.5%;
    left: 0;
    right: 0;
    top: 15%;

  }

  #java .website h3 {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;
    }

  #other .website h3 {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;
    }

  #c .checksum h3 {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;
    }

  #c .login.validator h3 {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0;
    }

  #java .website p {
    position: absolute;
    font-size: 1em;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%;
  }

  #other .website p {
    position: absolute;
    font-size: 1em;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%;
  }

  #c .checksum p {
    position: absolute;
    font-size: 1em;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%;
  }

  #c .login.validator p {
    position: absolute;
    font-size: 1em;
    top: 70%;
    left: 0;
    right: 0;
    margin-left: 10%;
    margin-right: 10%;
  }


  #java br {
    content: '';
  }

  #other br {
    content: '';
  }

  #footer h1 {
  font-size: 1.5em;

  }
}

/* PC Styles*/
@media only screen and (min-width: 901px){

  header {
    height: 7vh;
  }

  #header-section li {
    font-size: 1.2em;
  }

  .profile-img {
    width: 12vw;
  }

  .airplane-img {
    width: 15vw;
    top: 45%;
    left: 42%;
  }

  .desktop-img {
    width: 8vw;
    right: 52%;
    top: 40%;
  }

  .checksum-img {
    width: 6vw;
    right: 0%;
    top: 15%;
  }

  .lock-img {
    width: 6vw;
    right: 0%;
    top: 50%;
  }

  #hero h1 {
    font-size: 3em;
  }

  #hero .Cbtn {
    display: inline-block;
    width: 200px;

    padding:1em;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;

  }

  #hero .Javabtn {
    display: inline-block;
    width: 200px;

    padding:1em;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;

  }

  #c {
    position: relative;
  }

  #c h2 {
    font-size: 2.5em;
    position:  absolute;
    top: 15%;
    right: 58%;
    margin-top: 0;
    margin-bottom: 2.5%;

  }

  #c p {
    position: absolute;
    right: 30.5%;
    font-size: 22px;
    margin-top: 2.5%;
  }

  #c br {
    content: normal;
  }

  #java {
    position: relative;
  }

  #other {
    position: relative;
  }

  #java h2 {
    font-size: 2.5em;
    position:  absolute;
    top: 20%;
    right: 52%;
    margin-top: 0;
    margin-bottom: 2.5%;

  }

  #other h2 {
    font-size: 2.5em;
    position:  absolute;
    top: 20%;
    right: 52%;
    margin-top: 0;
    margin-bottom: 2.5%;

  }

  #java .website h3 {
    font-style: normal;
    position: absolute;
    top: 35%;
    left: 31%;
    font-size: 22px;
    margin-bottom: 2.5%;
  }

  #other .website h3 {
    font-style: normal;
    position: absolute;
    top: 35%;
    left: 31%;
    font-size: 22px;
    margin-bottom: 2.5%;
  }

  #c .checksum h3 {
    font-style: normal;
    position: absolute;
    top: 28%;
    left: 0%;
    font-size: 25px;
    margin-bottom: 2.5%;
  }

  #c .login.validator h3 {
    font-style: normal;
    position: absolute;
    top: 63%;
    left: 0%;
    font-size: 22px;
    margin-bottom: 2.5%;
  }


  #java .website p {
    position: absolute;
    top: 40%;
    left: 31%;
    font-size: 22px;
  }

  #other .website p {
    position: absolute;
    top: 40%;
    left: 31%;
    font-size: 22px;
  }

  #c .checksum p {
    position: absolute;
    top: 33%;
    left: 0%;
    font-size: 22px;
  }

  #c .login.validator p {
    position: absolute;
    top: 68%;
    left: 0%;
    font-size: 22px;
  }

  #java br {
    content: normal;
  }

  #other br {
    content: normal;
  }

  footer {
    font-size: 1em;
    background-color: white;
  }


}
