* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

#hero .profile-img {

    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 35%;
    left: 0;
    right: 0;
    margin: auto;

}

#about .desktop-img {

  position: absolute;
  margin: auto;
  max-width: 100%;
}

#projects .code-img {

  position: absolute;
  margin: auto;
  max-width: 100%;
}

#hero .bg-image {
  /* The image used */
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.85)), url('orlandobackground.jpg');


  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Position text in the middle of the page/image */
.bg-text {

  color: white;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

#hero .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  color: white;
  text-decoration: none;

  border: 3px solid white;


}

body {
    margin: 0;

    font-family: 'Muli', sans-serif;
}

main ul * {
  display: inline;
}

main li {
  margin: 20px;
}

main li a {
  color: black;
  text-decoration: none;
}


header {

    display: flex;
    align-items: center;
    height: 40px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-family: 'Muli', sans-serif;


}

header * {
    display: inline;
}



header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: black;
}

#about p {

  text-align: justify;
}

#about {
    background-color: #d9d9d9;

    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75));
}

#contact .section-inner p {
  text-decoration: none;

}

#projects {
    background-color: #d9d9d9;

    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75));
}

#contact {
    background-color: #d9d9d9;

    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url();
}

body {
  padding-bottom: 20px;
}


/* Mobile Styles */ /* REVIEW:  */
@media only screen and (min-width: 320px){

  header {
    height: 70px;
  }

  .profile-img {
    width: 150px;
  }

  .desktop-img {
    width: 110px;
    position: absolute;
    top: 115%;
    left: 0;
    right: 0;
  }

  .code-img {
    width: 100px;
    position: absolute;
    top: 225%;
    left: 0;
    right: 0;

  }

  #hero h1 {
    font-size: 2em;
  }

  .bg-text {
    top:65%;
  }

  #hero .btn {
    display: block;
    width: 200px;

    padding:0.25em;
    margin-top: 5%;

    font-size: 2em;

  }

  #hero h1 {
    font-size: 2.5em;
  }

  .bg-text {
    top:65%;
  }

  #about h2 {
    text-align: center;
    font-size: 1.5em;
  }

  #about p {
    font-size: 16px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

  }

  #about br {
    content: '';
  }

  #projects p {
    font-size: 16px;
    text-align: center;
    top: 250%;
    margin-left: 5%;
    margin-right: 5%;

  }

  #projects h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2.5%;

  }

  #projects h3 {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin-bottom: 2.5%;
}

  #projects br {
    content: '';
  }
}

/* Tablet Styles */
/*@media only screen and (min-width: 401px) and (max-width: 960px) {
  .profile-img {
    width: 100px;
  }

  .desktop-img {
    width: 100px;
    top: 150%;
    left: 80%;
  }

  .code-img {
    width: 100px;
    left: 10%;
    top: 250%;
  }

  #hero h1 {
    font-size: 2.5em;
  }

  .bg-text {
    top:65%;
  }

  #hero .btn {
    display: block;
    width: 100px;

    padding:0.5em;
    margin-top: 5%;

    font-size: 1em;

  }

  #about h2 {
    text-align: center;
    font-size: 1.5em;
  }

  #about p {
    font-size: 16px;
    text-align: center;
  }

  #projects p {
    font-size: 16px;
    text-align: center;
    top: 250%;

  }

  #projects h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2.5%;

  }

  #projects h3 {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    margin-bottom: 2.5%;
  }

  footer {
    font-size: .75em;
  }
}


/* iPad Styles

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .profile-img {
    width: 100px;
  }

  .desktop-img {
    width: 100px;
    top: 150%;
    left: 80%;
  }

  .code-img {
    width: 100px;
    left: 10%;
    top: 250%;
  }

  #hero h1 {
    font-size: 2.5em;
  }

  .bg-text {
    top:65%;
  }

  #hero .btn {
    display: block;
    width: 100px;

    padding:0.5em;
    margin-top: 5%;

    font-size: 1em;

  }

  #about h2 {
    margin-left: -162%;
    font-size: 1.5em;
  }

  #about p {
    font-size: 16px;

    margin-left: -155px;
    text-align: justify;
  }

  #projects p {
    font-size: 16px;

    margin-left: 225px;
    text-align: auto;
    top: 250%;

  }

  #projects h2 {
    font-size: 1.5em;

    margin-left: 86%;
    margin-bottom: 2.5%;

  }

  #projects h3 {
    font-size: 1em;
    font-style: italic;
    margin-left: 560px;
    margin-bottom: 2.5%;
  }

  footer {
    font-size: .75em;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 901px){

  header {
    height: 40px;
  }

  .profile-img {
    width: 200px;
  }

  .desktop-img {
    width: 250px;
    top: 135%;
    left: 52%;
  }

  .code-img {
    width: 200px;
    left: -40%;
    top: 238%;
  }

  #hero h1 {
    font-size: 3em;
  }

  #hero .btn {
    display: block;
    width: 200px;

    padding:1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;

  }

  #about h2 {
    margin-left: -125%;
    font-size: 2.5em;
  }

  #about p {
    font-size: 22px;
    margin-top: 2.5%;
    margin-left: -155px;
    text-align: justify;
  }

  #about br {
    content: normal;
  }

  #projects p {
    font-size: 22px;

    margin-left: 250px;
    text-align: right;
  }

  #projects h2 {
    font-size: 2.5em;

    margin-left: 82%;
    margin-bottom: 2.5%;

  }

  #projects h3 {
    font-style: italic;
    margin-left: 700px;
    margin-bottom: 2.5%;
  }

  #projects br {
    content: normal;
  }

  footer {
    font-size: 1em;
    background-color: white;
  }


}